#source {
    float:left;
    width:450px;
    height: 450px;
    margin: 10px;
    padding: 10px;
    border: 13px solid green;
    border-radius: 4px;
    border-width:15px;
}
#target {
    float:left;
    width:450px;
    height: 450px;
    margin: 10px;
    padding: 10px;
    border: 13px solid green;
    border-radius: 4px;
    border-width:15px;
}
img{
    width:400px;
    height: 400px;
}
.over{
    background-color: #ffc;
}
[draggable="true"]{
    -mos-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    border-width: 15px;
    border-color: red;
}
.drag{
    opacity: 0.25;
}